In [1]:
import pandas as pd

In [2]:
df1 = pd.DataFrame([[1,2,3,34,5],[4,5,77,2,6],[7,8,9,4,2],[56,67,23,4,6],[87,3,5,7,5]], columns=['a','b','c','d',
                                                                                               'e'])

In [4]:
df1.head()

    a   b   c   d  e
0   1   2   3  34  5
1   4   5  77   2  6
2   7   8   9   4  2
3  56  67  23   4  6
4  87   3   5   7  5

In [6]:
df1.to_csv('export.csv', index=False)