In [1]:
# data problem
# inconsistent column names 
# Missing data
# Outliers
# Duplicate rows
# Udity
# Need to process columns
# Column types can signal unexpected data values

In [2]:
import pandas as pd
df = pd.read_csv(r"C:\Users\lenovo\Downloads\birth.csv")
# df = pd.read_csv("C:/Users/lenovo/Downloads/birth.csv")

In [3]:
df

  Continent    Country  female literacy  fertility    population
0       ASI      Chine             90.5      1.769  4.346760e+13
1       ASI       Inde             50.8      2.692  4.678880e+13
2       NAM        USA             99.0      2.077  6.476870e+14
3       ASI  Indonesie             88.8      2.132  9.674620e+15
4       Lat     Bresil             90.2      1.827           NaN

In [4]:
# column name incondidtencies (small capital
# missing data( NaN)

In [5]:
df.head()

  Continent    Country  female literacy  fertility    population
0       ASI      Chine             90.5      1.769  4.346760e+13
1       ASI       Inde             50.8      2.692  4.678880e+13
2       NAM        USA             99.0      2.077  6.476870e+14
3       ASI  Indonesie             88.8      2.132  9.674620e+15
4       Lat     Bresil             90.2      1.827           NaN

In [6]:
df.tail()

  Continent    Country  female literacy  fertility    population
0       ASI      Chine             90.5      1.769  4.346760e+13
1       ASI       Inde             50.8      2.692  4.678880e+13
2       NAM        USA             99.0      2.077  6.476870e+14
3       ASI  Indonesie             88.8      2.132  9.674620e+15
4       Lat     Bresil             90.2      1.827           NaN

In [7]:
df.columns

Index(['Continent', 'Country', 'female literacy', 'fertility', 'population'], dtype='object')

In [8]:
df.shape

(5, 5)

In [9]:
df.info

<bound method DataFrame.info of   Continent    Country  female literacy  fertility    population
0       ASI      Chine             90.5      1.769  4.346760e+13
1       ASI       Inde             50.8      2.692  4.678880e+13
2       NAM        USA             99.0      2.077  6.476870e+14
3       ASI  Indonesie             88.8      2.132  9.674620e+15
4       Lat     Bresil             90.2      1.827           NaN>

In [10]:
# Count the number of unique values in our data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Continent        5 non-null      object
 1   Country          5 non-null      object
 2   female literacy  5 non-null      float64
 3   fertility        5 non-null      float64
 4   population       4 non-null      float64
dtypes: float64(3), object(2)
memory usage: 328.0+ bytes

In [11]:
# frequency count : continent
df.Continent.value_counts(dropna=False)

ASI    3
NAM    1
Lat    1
Name: Continent, dtype: int64

In [12]:
df.Continent.value_counts(dropna=True)

ASI    3
NAM    1
Lat    1
Name: Continent, dtype: int64

In [13]:
# or
df['Continent'].value_counts(dropna=False)

ASI    3
NAM    1
Lat    1
Name: Continent, dtype: int64

In [14]:
df.Country.value_counts(dropna=False).head()

Chine        1
Inde         1
USA          1
Indonesie    1
Bresil       1
Name: Country, dtype: int64

In [15]:
df.fertility.value_counts(dropna=False)

1.769    1
2.692    1
2.077    1
2.132    1
1.827    1
Name: fertility, dtype: int64

In [16]:
df.population.value_counts(dropna=False)

4.346760e+13    1
4.678880e+13    1
6.476870e+14    1
9.674620e+15    1
NaN             1
Name: population, dtype: int64

In [17]:
# summary statistics
# Numeric columns 
# outliers
#   considerably higher or lower
#     require further investigation

In [18]:
# numeric data
df.describe()

       female literacy  fertility    population
count         5.000000   5.000000  4.000000e+00
mean         83.860000   2.099400  2.603141e+15
std          18.913434   0.366096  4.722869e+15
min          50.800000   1.769000  4.346760e+13
25%          88.800000   1.827000  4.595850e+13
50%          90.200000   2.077000  3.472379e+14
75%          90.500000   2.132000  2.904420e+15
max          99.000000   2.692000  9.674620e+15

In [19]:
# data visualization
# great way to spot outlier and obvious errors
# more than just looking for patterns
# plan data cleaning steps

In [20]:
# # bar plot and histogram
# bar plot for discreate data counts
# histogram for continous data counts
# look at frequencies

In [21]:
import matplotlib.pyplot as plt

In [26]:
# df.population.plot('hist')
# plt.hist(x)
# plt.show()