In [1]:
import pandas as pd
import numpy as np

In [2]:
df1 = pd.DataFrame([[1,2,34,4],[4,6,6,2],[8,9,3,12]], columns =['A','B','C','D'])

In [3]:
df1

   A  B   C   D
0  1  2  34   4
1  4  6   6   2
2  8  9   3  12

In [4]:
df2 = pd.DataFrame([[6,7,4,3],[6,5,8,9],[5,7,8,3]], columns = ['X','Y','Z','W'])

In [5]:
df2

   X  Y  Z  W
0  6  7  4  3
1  6  5  8  9
2  5  7  8  3

In [11]:
df3 = pd.merge(df1, df2,left_on='A', right_on='X')

In [7]:
df3

Empty DataFrame
Columns: [A, B, C, D, X, Y, Z, W]
Index: []

In [8]:
df4 = df1.merge(df2, left_on='A', right_on='X')

In [9]:
df4

Empty DataFrame
Columns: [A, B, C, D, X, Y, Z, W]
Index: []